.form {
    /* Apenas para centralizar o form na página */
    margin-top: 6em;
    width: 400px;
    padding-left: 10em;
}


.material-icons.md-48 { 
    font-size: 90px; 
    cursor: pointer;
    padding: 1px
}

.createButton {
    /*Posição*/
    position:absolute; 
    bottom:19%;
    right:81%;
    transform: translate(-50%, -50%);    
    /*Tamanho*/
    width:1%;
    height:4%;   
}    